@(products: List[models.Product], categories: List[models.Category], user: models.users.Users)

<!-- Pass page title and content {html between braces} to the main view -->
@main("Products", user) {
  <!-- HTML content for the index view -->
    <section id="wrapper">

        <section id="products" class="wrapper spotlight style3">
            <div class="content">
                <div class="row">
                    <div class="col-sm-2">
                        <h4>Categories</h4>
                        <div class="list-group">
                                <!-- A link to display all products -->
                            <a href="@routes.HomeController.rent(0)" class="list-group-item">All categories</a>

                                <!-- Start of For loop - For each c in categories add a list item -->
                                <!-- Also show the number of products in each category -->
                            @for(c <- categories) {
                                <a href="@routes.HomeController.rent(c.getId)" class="list-group-item">@c.getName
                                <span class="badge">@c.getProducts.size()</span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="col-sm-10">

                        @if(flash.containsKey("success")) {
                            <div class="alert alert-success">
                            @flash.get("success")
                            </div>
                        }
                            <!-- Two -->
                        <section id="two" class="wrapper alt spotlight style2">
                            <div class="inner">
                                <a href="#" class="image"><img src="@routes.Assets.versioned("images/pic01.jpg")" alt="" /></a>
                                <div class="content">
                                    <table>
                                        <thead>
                                                <!-- The header row-->
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Stock</th>
                                                <th>loan length</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <!-- Product row(s) -->
                                                <!-- Start of For loop - For each p in products add a row -->
                                            @for(p <- products) {
                                                <tr>
                                                    <td>@p.getId</td>
                                                    <td>@p.getName</td>
                                                    <td>@p.getDescription</td>
                                                    <td>@p.getStock</td>

                                                    <td>
                                                            <li>  <a href="@routes.HomeController.updateThreeDayLoan(p.getId)" class="btn btn-danger" role="button">3 Days</a> </li>
                                                            <li>  <a href="@routes.HomeController.updateFiveDayLoan(p.getId)" class="btn btn-danger" role="button">5 Days</a> </li>
                                                             <li> <a href="@routes.HomeController.updateSevenDayLoan(p.getId)" class="btn btn-danger" role="button">7 Days</a> </li>
                                                    </td>


                                                </tr>
                                            } <!-- End of For loop -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </div>
        </section>

  <script>
    // JavaScript function returns true if user clicks yes, otherwise, false
    function confirmDel() {
        return confirm('Are you sure?');
    }
  </script>

  <!-- End of content for main -->
}