@* addProductForm defined above is the parameter passed to this view by the controller *@
@import helper._

@(UsersLibraryForm: play.data.Form[models.Users_library], user: models.users.Users)

@* helpers will be used to create the form dynamically, though static HTML form element also work. *@


@main("Return Books/Exam Paper", user) {
	<h3>Return your product</h3>


	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.HomeController.addReturnSubmit(user.getEmail), 'class -> "form-horizontal", 'role->"form") {
		<div style="display: none">
		@inputText(UsersLibraryForm("id"), '_label -> "", 'hidden -> "hidden", 'style -> "display: none")
		@inputText(UsersLibraryForm("user_product_id"), '_label -> "user_product_id",'class -> "form-control", 'style -> "display: none")
		@inputText(UsersLibraryForm("user_email"), '_label -> "user_email",'class -> "form-control", 'style -> "display: none")
		@inputText(UsersLibraryForm("date_transaction"), '_label -> "date_transaction",'class -> "form-control", 'style -> "display: none")
		@inputText(UsersLibraryForm("expiring_date"), '_label -> "expiring_date",'class -> "form-control", 'style -> "display: none")
		@inputText(UsersLibraryForm("extendable"), '_label -> "extendable",'class -> "form-control", 'style -> "display: none")
		@inputText(UsersLibraryForm("returned"), '_label -> "returned",'class -> "form-control", 'style -> "display: none")
        @inputText(UsersLibraryForm("tempo"), '_label -> "", 'style -> "display: none")
        @inputText(UsersLibraryForm("tempo2"), '_label -> "", 'style -> "display: none")
        @inputText(UsersLibraryForm("tempo3"), '_label -> "", 'style -> "display: none")
			</div>



	<!-- Add a submit button -->

		<!-- Two -->
	<section id="two" class="wrapper alt spotlight style2">
		<div class="inner">
			<div class="content">

				<div class="actions">
					<h2>Item has been returned. Points has been retrieved.</h2>
					<input type="submit" value="Continue" class="btn btn-primary">
					<a href="@routes.HomeController.returnUpdate()"></a>

				</div>
			</div>
		</div>
	</section>
	} <!-- End Form definition -->
}
-- End of page content -->